{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>+CAR</title>
</head>
<body>
    <header>
        <h1>+CAR</h1>
    </header>

    <div>
        {% for carro in CARROS %}
            {% if carro.marcas ==  'Honda'%}
            <p><a href="{% url 'honda' carro.pk %}" > {{carro.marcas}}</a></p>
            {% endif %}
            {% if carro.marcas == 'Toyota'%}
            <p><a href="{% url 'Toyota' carro.pk %}" > {{carro.marcas}}</a></p>
            <img alt="" src="{{ carro.imagem.thumbnail.url }}"/>
            {% endif %}
        {% endfor %}

        <!--Marcas-->


    </div>

    <footer>

    </footer>
</body>
</html>